In [1]:
import pandas as pd
import numpy as np

In [5]:
events = pd.read_csv('event_data_train.csv')
submissions = pd.read_csv('submissions_data_train.csv')

In [25]:
user_count = events.groupby('user_id').count()

In [32]:
user_count.sort_values(by=['action'])

         step_id  timestamp  action
user_id
26502          1          1       1
8773           1          1       1
11437          1          1       1
16682          2          2       2
16697          2          2       2
16756          2          2       2
16770          2          2       2
16863          2          2       2
16867          2          2       2
16888          2          2       2
17006          2          2       2
17016          2          2       2
17017          2          2       2
1              2          2       2
17134          2          2       2
17205          2          2       2
17247          2          2       2
17295          2          2       2
2708           2          2       2
17339          2          2       2
17352          2          2       2
17389          2          2       2
2674           2          2       2
17470          2          2       2
16660          2          2       2
17019          2          2       2
16572          2          2       2
16543          2          2       2
3022           2          2       2
16143          2          2       2
...          ...        ...     ...
19811       2236       2236    2236
14001       2243       2243    2243
11651       2261       2261    2261
4702        2291       2291    2291
2054        2304       2304    2304
12100       2331       2331    2331
635         2507       2507    2507
26610       2509       2509    2509
21120       2541       2541    2541
24995       2580       2580    2580
19036       2626       2626    2626
12737       2754       2754    2754
15735       2788       2788    2788
16948       2803       2803    2803
14567       2836       2836    2836
5301        2848       2848    2848
26654       2869       2869    2869
1078        2912       2912    2912
19472       3051       3051    3051
6764        3271       3271    3271
13602       3480       3480    3480
8363        3918       3918    3918
761         4592       4592    4592
9546        6387       6387    6387
11770       6641       6641    6641
3572        7905       7905    7905
1046        9095       9095    9095
25279      10179      10179   10179
10794      16436      16436   16436
20907      33043      33043   33043

[19234 rows x 3 columns]